a {
    text-decoration: none;
    color: unset;
}

/* =========HEADER========== */

 .header{
    width: 100%;
    height: 96px;
    background-color: var(--bs-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    font-size: 1.6rem;
    font-weight: 400;
    z-index: 1;
    box-shadow: 0 0 5px #ccc;
}

.header .container {
    height: 100%;
    padding: 0 2rem;
}

.contrainer-fluid::before {
    content:"";
    display: block;
    height: 50px;
    clip-path: ellipse(51% 98% at 51% 1%);
    background-color: #fff;
}

.contrainer-fluid::after {
    content:"";
    display: block;
    height: 50px;
    clip-path: ellipse(50% 100% at 50% 100%);
    margin-top: 50px;
    background-color: #fff;
}

.contrainer-fluid {
    width: 100%;
    background-color: rgba(0, 12, 242, 0.1);
}

.container {
    max-width: 1089px;
    height: auto;
    margin: 0 auto;
    position: relative;

}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.row .products {
    align-items: stretch;
}

.header__logo {
    flex: 1;
    font-weight: 900;
    text-decoration: none;

    color: var( --bs-blue);

    font-size: 3rem;
    font-weight: bold;

    line-height: 1;
}

.header__menu {
    padding: 0;
    list-style: none;
    display: flex;
}

.header__menu-link {
    padding:0 2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--bs-gray);

}

.menu-icon {
    display: none;
}

.header__menu-icon {
    font-size: 1rem;
}

.header__submenu::before {
    content:"";
    display: block;
    width: 100%;
    height: 29px;
    position: absolute;
    left: 0;
    bottom: 100%;
    background-color:transparent;
}

.header__submenu {
    padding: 0;
    width: 796px;
    position: absolute;
    top: calc(100% - 10px);
    left: 50px;
    z-index: 10;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    
    display: none;
    background-color: var(--bs-white);
}

.header__submenu-images {

    width: 300px;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(0, 12, 242, .4),rgba(0, 12, 242, 0.4)), url(https://images.unsplash.com/photo-1662975516305-225a12e79959?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 5px 0 0 5px;
}

.header__submenu-text {
    width: 80%;
    height: 90px;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__submenu-desc {
    line-height: 2rem;
    color: var(--bs-white);
}

.header__submenu-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    background-color: var(--bs-white);
    border-radius: 5px;
    color: var(--bs-blue);
    text-decoration: none;
    text-transform: capitalize;
}

.header__menu-link:hover {
    color: var( --bs-gray-dark);
}

.header__menu-item:hover .header__menu-icon {
    display: inline-block;
    transform: rotate(90deg);
    transition: transform .2s linear;
}
.header__menu-item:hover .header-submenu-2,
.header__menu-item:hover .header__submenu {
    display: flex;
    animation: fadeIn .2s linear;
    background-color: var(--bs-white);

}

.header__menu-item:hover .header-submenu-3 {
    display: block;
    animation: fadeIn .2s linear;
}


.btn {
    outline: none;
    border: none;
}

.cart {
    padding: 1.6rem 2rem;
    position: relative;
}

.cart-container {

}

.header__btn {
    padding: 1.4rem 0rem;
    font-weight: 500;
    border-radius: .5rem;
    background-color: var( --bs-blue);
    color: var(--bs-white);
    cursor: pointer;
}

.cart:hover,
.header__btn:hover {
    background-color: rgb(32, 5, 155);
}
.header__submenu-subtext {
    margin-left: 300px;
    padding: 4rem;
    display:flex;
    flex-wrap: wrap;
}

.submenu-subtext__item {
    min-width: 50%;
    list-style: none;
    padding: 0;
    line-height: 3.5rem;
}

.submenu-subtext__item-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--bs-blue);

}

.submenu-subtext__item-list {
    list-style: none;
    padding: 0;
}

.submenu-subtext__item-item:not(span):hover {
    opacity: .6;
}

.new-brand {
    color: var(--bs-blue);
    font-size: 1.4rem;
    position: relative;
    margin-left: 1rem;
}

.new-brand:after {
    content:"";
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 1rem .5rem;
    opacity: .3;
}

.header-submenu-2::before {
    content:"";
    display: block;
    width: 100%;
    height: 29px;
    position: absolute;
    left: 0;
    bottom: 100%;
    background-color: transparent;
}

.header-submenu-2 {
    padding: 0;
    width: 720px;
    position: absolute;
    top: calc(100% - 10px);
    left: 15%;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    
    display: none;
    flex-wrap: wrap;

}

.submenu-subtext__item-2 {
    flex: 0 0 33.33333%;
    padding: 4rem;
    line-height: 3.5rem;
}

.header-submenu-3::before {
    content:"";
    display: block;
    width: 100%;
    height: 29px;
    position: absolute;
    left: 0;
    bottom: 100%;
    background-color:transparent;
}

.header-submenu-3 {
    padding: 0;
    min-width: 324px;
    position: absolute;
    top: calc(100% - 10px);
    left: 15%;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    
    display: none;

    line-height: 2.5rem;
    background-color: var(--bs-white);

}

.submenu-subtext__item-3 {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 16px;
    height: 72px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.header-submenu-3 .submenu-subtext__item-3:last-child {
    border-bottom: none;
}

.submenu-subtext__item-3:hover {
    background-color: var(--bs-gray-200);
    cursor: pointer;
}

.submenu-subtext__item-3-icon {
    flex-shrink: 0;
    font-size: 1.5rem;
    position: relative;
    color: var(--bs-blue);
    margin-left: 10px;
    
}
.submenu-subtext__item-3-icon::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: currentColor;
    border-radius: 50%;;
    opacity: .5;
}

.submenu-subtext__item-3-text {
    flex: 1;
    margin-left: 30px;
}

.submenu-subtext__item-3-title {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:rgba(0, 0, 0, .4);
    font-weight: bold;
}

.header-submenu-3 {
    padding: 8px 0;
    width: 325px;

    position: absolute;
    top: calc(100% - 10px);
    left:51%;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    
    display: none;
    flex-wrap: wrap;

}


@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* =========MAIN========= */
.main {
    margin-top: 96px;
}

.hero {
    height: auto;
    margin: 12.8rem;
}

.hero-text {
    padding: 0 20px;
    flex: 1;
}

.hero-text__title {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 500;
    color:#333;

    margin: 0;

}

.item {
    flex: 0 0 33.33333%;
    padding: 2rem;
}

.hero-text__desc {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin-bottom: 50px;
    color: var(--bs-gray)
}

.hero-images {
    padding: 0 20px;
    flex: 1;
    width: 100%;
    height: 398px;
    background-image: url(https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T2/images/I/71BRQiusjbL._AC_SL1500_.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: contain;
}

.first__button,
.second__button {
    font-weight: 500;
    font-size: 1.6rem;
    padding: 16px 20px;
    background-color: var(--bs-blue);
    border-radius: 5px;
    color: var(--bs-white);
    cursor: pointer;
    margin: 5px;
}

.header__btn .button-icon {
    transform: translateY(-50%);
    padding: 1.4rem 2rem;
    font-size: 1.8rem;
}

.header__btn {
    margin: 5px;
}

.demo {
    padding: 9.6rem;
    text-align: center;
}

.demo__text {
    width: 60%;
}

.demo__text-label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--bs-blue);
    position: relative;
}

.demo__text-label::after {
    content:"";
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    transform: translate(-50%, -50%);
    border-radius: 999px;
    padding: 1.3rem .5rem;
    opacity: .1;
    z-index: -1;
}

.demo__text-title {
    font-size: 2.2rem;
    font-weight: 500;
    color: #333;
}

.demo__text-desc {
    font-size: 1.8rem;
    color:var(--bs-gray);
    line-height: 1.2;
    margin-bottom: 96px;
}


.col {
    width: 33.33333%;
    padding: 2rem;
    align-self: flex-start;
}

.item {
    display: flex;
    flex-direction: column;
}

.item__heading {
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    text-align: start;
    line-height: 1.5;
    flex: 1;

    display: -webkit-box;

    -webkit-line-clamp: 2;

    -webkit-box-orient: vertical;

    overflow: hidden;

    text-overflow: ellipsis;
}


.item__image {
    flex: 0 0 200px;
    width: 100%;
    max-height: 200px;
    object-fit: cover;

    border-radius: 10px;
    transition: all .2s linear;

    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    margin-top: auto;

    cursor: pointer;
}
.item__image:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .4);
}

.item__list {
    list-style: none;
    background-color: var(--bs-white);
    padding: 0;

}

.item__list-item {
    font-size: 1.4rem;
    padding: 2rem 0;

}

.pages-item {
    padding: 16px 0;
}

.item__list {
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .2);
    overflow: hidden;
    
}


.item__list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 2rem 16px;
    cursor: pointer;
}

.item__list-item:last-child {
    border-bottom: none;
}

.item__list-item:hover {
    background-color: var(--bs-gray-200);
}

.item__list-link {
    text-decoration: none;
    color: var(--bs-gray);
}


.item__list-icon {
    font-size: 1.2rem;
    color: var(--bs-gray)
}

.model,
.cart-model {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: modelFadeIn .3s linear;
}

@keyframes modelFadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

.model__content {
    width: 50%;
    display: none;
    background-color: #fff;
    animation: ContentFadeIn .3s linear;
}

@keyframes ContentFadeIn {
    from {
        transform: translateY(-100px);
        opacity: .8
    }
    to {
        transfrom: translateY(0);
        opacity: 1;
    }
}

.cart-model__top,
.content__top {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--bs-blue);

}

.top__title {
    margin: 0;
}

.top__icon {
    margin-right: 5px;
}

.content__body {
    height: auto;
    display: flex;
    padding: 20px;

}

.body__img {
    max-width: 50%;
    object-fit: contain;
}

@media (max-width: 940px) {

    .cart-block {
        min-width: 320px;
        flex: 100%;
    }
    
    .card__detail {
        min-width: 228px;
        flex: 100%;
    }

    .menu-icon {
        display: unset;
    }

    .hero-images,
    .hero-text {
        flex: 0 0 100%;
    }

    .hero {
        margin: 2rem;
    }

    .hero .container{
        padding-top: 50px;
    }

    .hero .row {
        flex-wrap: wrap-reverse;
    }

    .col {
        width: 100%;
    }

    .demo {
        padding: 5rem 1rem;
    }

    .hero-text {
        padding: 20px;
    }

    .hero-text__buttons {
        text-align: center;
    }

    .content__body {
        flex-direction: column;
    }

    .body__img {
        align-self: center;
    }

    .model__content {
        width: 90%;
    }

    .header__menu {
        display: none;
    }

    .item {
        flex: 0 0 50%;
        padding: 1rem;
    }
}


@media (max-width: 480px) {
    .moblie-menu {
        padding: 10px;
    }

    .demo .row {
        margin: 20px 0;
    }

    .user,
    .cart {
        display: none;
    }

    .demo {
        padding: 0;
    }

    .item {
        flex: 0 0 100%;
        padding: 1rem;
    }
}

.text__title {
    margin: 20px 0;
    line-height: 1.5;
}

.pay, .add-cart {
    border: none;
    padding: 8px 16px;
    background-color: var(--bs-blue);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    margin: 5px 0;
}

.price {
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
}

.body__text {
    flex: 1;
    text-align: start;
    margin-left: 20px;
}

.content__footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#footer__close {
    border: none;
    padding: 8px 16px;
    background-color: brown;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.footer__close-icon {
    font-size: .8rem;
}

.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.open-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

#about {
    background-color: unset;
}

#about .demo__text-title {
    margin-bottom: 100px;
}

.contrainer-fluid.about {
    color: #fff;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(3, 123, 243, 0.1)),
     url(https://images.unsplash.com/photo-1452780212940-6f5c0d14d848?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80) no-repeat center / cover;
}

#contact input,
textarea {
    font-size: 1.3rem;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact input[type="submit"] {
    width: unset;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    background-color: var(--bs-blue);
    margin-left: auto;
}

textarea {
    height: 200px;
}

.moblie.active {
    display: flex;
    right: 0;

}

.cart-model.open {
    display: flex;
}

.moblie {
    flex-direction: column;
    padding: 10px;
    margin: 0;
    width: 40vw;
    height: 100vh;
    background-color: #ccc;
    position: absolute;
    top: 0;
    right: -42%;
    z-index: 1;
    transition: right .3s linear;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.moblie-menu {
    list-style: none;
}

.moblie-menu > li {
    padding: 10px;
}

.menu-close-btn {
    display: inline-block;
    font-size: 3rem;
}

.menu-close {
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    margin-top: auto;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
    cursor: pointer;

}
.cart-container {
    width: 80vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    animation: ContentFadeIn .3s linear;
}

.cart-block {
    padding: 20px;
    flex: 6;
}

.cart-return {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
}

.return-icon {
    font-size: 1.3rem;
    margin-right: 5px;
}

.cart-list {
    list-style: none;
    padding: 0;
}


.cart-list__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 5px 0;

}

.cart-list__item > img {
    width: 80px;
    object-fit: contain;
}

.cart-list__item > h6 {
    max-width: 30%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__detail {
    color: #fff;
    flex: 4;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color:rgba(17, 26, 197, 0.4);
}

.detail__title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.detail__type > p {
    margin: 5px 0;
}

.detail__type > img{
    width: 50px;
    margin: 5px;
}

.detail__input  input {
    padding: 10px;
    outline: none;
    border: 1px solid #fff;
    margin: 10px 0;
    border-radius: 5px;
    background-color: rgba(17, 26, 197, 0.1);
    width: 100%;
}

.detail__input  input::placeholder {
    color: #fff;
    
}

.detail__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.detail__info input:first-child {
    margin-right: 5px;
}


.detail__total {
    display: flex;
    justify-content: space-between;
}

.total__values {
    text-align: end;
}

.total__btn {
    border-radius: 5px;
    background-color:rgb(32, 5, 155);
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
}
